# These values are bundled into the app. Do not put secrets in EXPO_PUBLIC_ variables.
EXPO_PUBLIC_COGNITO_REGION=ap-southeast-2
EXPO_PUBLIC_COGNITO_USER_POOL_ID=ap-southeast-2_7xMoJ8i4B
EXPO_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=3k7m534msd10a7cjmlbsc3caf9
EXPO_PUBLIC_LOCATION_API_BASE_URL=https://pugcsdmf47.execute-api.ap-southeast-2.amazonaws.com/Prod
EXPO_PUBLIC_CHAT_API_BASE_URL=https://pugcsdmf47.execute-api.ap-southeast-2.amazonaws.com/Stage
EXPO_PUBLIC_WEB_SOCKET_BASE_URL=wss://kv64fohoj8.execute-api.ap-southeast-2.amazonaws.com/Prod
